#map-container {
    margin-top: 10px;
    height: 600px;
    width: 800px;
    /* temporarily set the background color so we can tell where the map container is positioned */
    background-color: lightgrey;
}
